<div class="recorder container">
	<div class="page-heading">
		<!-- Template (or macro?) for heading to determine which title should go here-->
		New Recording
	</div>
	<div class="recording">
		<form action = "/recordings" method="post" class="new-recording-form">
			<!-- Template for collection parameterized by anon/registered and by entry point (new from homepage (anon), new from user linkbar (registered), new from collection (registered)) -->
			<div>
 				<label for="collection">Collection:</label>
				<input name="collection" type="text" value="anonymous" readonly>
			</div>
			<div>
 				<label for="recording">Name:</label>
				<input name="recording" type="text" value="My First Recording" autofocus>
			</div>
			<div>
				<label for="url">Url:</label>
				<input name="url" type="url">
			</div>
			<div>
				<button type="submit">Record</button>
			</div>
		</form>
	</div>
</div>